<!--ONLY PUT BODY ELEMENTS HERE, no javascript-->
<app-header (searchAreaClicked)="searchThisArea()" (searchBarClicked)="searchBar($event)"></app-header>

<div id="container">
  <google-map #map
              width="100%"
              height="100%"
              [center]="center"
              [zoom]="zoom">

      <map-marker
        *ngFor="let marker of markers"
        [position]="marker"
        [options]="markerOptions"
        (mapClick)="markerClicked(marker)"
      >
      </map-marker>
      <map-marker
        [position]="center"
        [options]="userMarker"
        >
      </map-marker>
      <!-- <map-polyline
        [path]="route"
        >
      </map-polyline> -->
      <map-directions-renderer
        *ngIf="(directionsResults$ | async) as directionsResults"
        [directions]="directionsResults"
        [options]="routeOptions"></map-directions-renderer>

</google-map>

<app-sidebar [sidebarData]="appSidebarData" [userPinLoc] ="userPinLoc"></app-sidebar>

<router-outlet></router-outlet>

