<!--ONLY PUT BODY ELEMENTS HERE, no javascript-->
<app-header></app-header>

<div id="container">
  <google-map 
              width="100%"
              height="100%"
              [center]="center"
              [zoom]="zoom">

      <map-marker
        *ngFor="let marker of markers"
        [position]="marker"
        [options]="markerOptions"
        (mapClick)="markerClicked(marker)"
      >
      </map-marker>
      <map-marker
        [position]="center"
        [options]="userMarker"
        >
      </map-marker>
</google-map>

<!-- side bar to hold all places detail -->
<div id="detailPane">  

  <!-- name of coffee shop -->
  <div id="name"></div>

  <!-- address -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
    <img src='../assets/brownPin-SideBar.png'>
    </div>

    <div class="PlaceDetails"> 
      <div id="address"></div>
    </div>
  </div>

  

  <!-- rating -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
      <img src='../assets/rating.png'>
    </div>

    <div class="PlaceDetails"> 
      <div id="rating"></div>
    </div>
  </div>
    

</div>

<router-outlet></router-outlet>

