<!--ONLY PUT BODY ELEMENTS HERE, no javascript-->
<app-header></app-header>

<div id="container">
  <google-map 
              width="100%"
              height="100%"
              [center]="center"
              [zoom]="zoom">

      <map-marker
        *ngFor="let marker of markers"
        [position]="marker"
        [options]="markerOptions"
        (mapClick)="markerClicked(marker)"
      >
      </map-marker>
      <map-marker
        [position]="center"
        [options]="userMarker"
        >
      </map-marker>
</google-map>

<!-- side bar to hold all places detail -->
<div id="detailPane">  

  <!-- image! -->
  <!-- backup image as a placeholder, will be replaced with something in .ts -->
  <img id="PlaceImage" src="https://6.viki.io/image/7ff150c634894900862925d14a5b9c32/dummy.jpeg?s=900x600&e=t"/>

  <!-- name of coffee shop -->
  <div id="name"></div>

  <!-- address -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
    <img src='../assets/address.png'>
    </div>

    <div class="PlaceDetails"> 
      <div id="address"></div>
    </div>
  </div>  

  <!-- open now? -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
      <img src='../assets/clock.png'>
    </div>

    <div class="PlaceDetails"> 
      <div id="openNow"></div>
    </div>
  </div>

  <!-- rating -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
      <img src='../assets/rating.png'>
    </div>

    <div class="PlaceDetails"> 
      <span id="rating"></span>
      <span> / 5</span>
    </div>
  </div>

  <!-- price -->
  <div class="DetailChunk">
    <div class="sideBarIcon">
      <img src='../assets/dollar.png'>
    </div>

    <div class="PlaceDetails"> 
      <div id="priceLevel"></div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

