/* favs bar to hold all fav shops */
#favsPane{
    background-color: rgb(255, 255, 255);
    position:absolute;
    top:50px;
    left:0;
    visibility: visible;
    overflow-y: scroll;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
}

.imgHolder{
    width:140px;
    height:140px;
    overflow: hidden;
    align-content: center;
    display: grid;
    position:relative;

    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid black;
    float:left;
}
img{
    width: 140px;
    
}

.shop{
    width:360px;
    height:150px;
    padding-top: 20px;
    display: inline-block;
}

.shopname{
    position: relative;
    float:left;
    padding:2px 0px 5px 10px;
    max-width: 190px;
    font-size: 20px;

}

#closeFavs{
    position: absolute;
    top:10px;
    right:10px;
    height: 20px;
}