<div id="favsPane"> 
    <div style="height:16px"><button id="closeFavs" (click)="closeFavsPane()">x</button></div>
    <div class="shop" id="shop1">
        <div class="imgHolder">
            <img id="shop1Image" src="../../assets/tafel-1.jpg"/>
        </div>

        <div class="shopname" id="name1">Karma Cream Coffee</div>
    </div>
    <div class="shop" id="shop2">
        <div class="imgHolder">
            <img id="shop2Image" src="../../assets/tafel-1.jpg"/>
        </div>

        <div class="shopname" id="name2">Name of shop2</div>
    </div>
    <div class="shop" id="shop3">
        <div class="imgHolder">
            <img id="shop3Image" src="../../assets/tafel-1.jpg"/>
        </div>

        <div class="shopname" id="name3">Name of shop3</div>
    </div>

</div>
