<app-login (login)="updateName($event)"></app-login>

<div id="header">
    <h5 style="background-color: #A36431;">Caffinder</h5>
    <p id="loginName"></p>
    <button id="showFavs" (click)="showFavsPanel()">
        <img src = "../../assets/heart.png" style="width: 30px;"/>
    </button>
    <button id="loginButton" (click)="startLoginComp()" style="background-color: transparent; border-color: transparent;">
        <img src = "../../assets/user.png" style="width: 30px;"/>
    </button>
    
    <input class="form-control"
                ngx-google-places-autocomplete
                [options]="options"
                (onAddressChange)="handleAddressChange($event)"
    />
    <button id="searchAreaBtn" (click)="doSearchArea()"> Search This Area</button>
</div>

<app-favorites [transfer]="favTransfer"></app-favorites>

