h5{
    color:rgb(255, 255, 255);
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    text-align: left;
    font-family: 'Yellowtail';
    font-weight: 100;
    font-size: 30px;
}

#header{
    z-index: 10;
    position: absolute;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

#addressInput{
    z-index: 20;
    position: absolute;
    top: 10px;;
    right:18px;
    width:260px;
    height:28px;
    border: 1.4px solid black;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
}

#addressInput:focus{
    outline: none;
}

#searchBtn{
    z-index: 30;
    position: absolute;
    top: 10px;;
    right:20px;
    width:32px;
    height:31.5px;
    background-color: transparent;
    border: none;
}

#loginButton{
    z-index: 4000;
    position: absolute;
    top:8px;
    right:290px;
}

#loginName{
    z-index: 4000;
    position: absolute;
    top:1px;
    right: 380px;
}

#showFavs{
    visibility: hidden;
    z-index: 4000;
    position: absolute;
    top:10px;
    right: 330px;
    background-color: transparent;
    border: none;
}
#showFavs img:active{
    filter: opacity(50%);
}