
<!-- side bar to hold all places detail -->
<div id="detailPane">  

    <!-- image! -->
    <!-- backup image as a placeholder, will be replaced with something in .ts -->
    <div id="imgHolder">
      <img id="PlaceImage"/>
    </div>
  
    <!-- name of coffee shop -->
    <div id="name"></div>
  
    <!-- address -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
      <img src='../assets/address.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="address"></div>
      </div>
    </div>  
  
    <!-- open now? -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/clock.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="openNow"></div>
      </div>
    </div>
  
    <!-- rating -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/rating.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <span id="rating"></span>
        <span> / 5</span>
        <span id="totalText1"> from </span>
        <span id="totalRatings"></span>
        <span id="totalText2"> reviews</span>
      </div>
    </div>
  
    <!-- price -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/dollar.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="priceLevel"></div>
      </div>
    </div>
  
  </div>
