
<!-- side bar to hold all places detail -->
<div id="detailPane">  

    <!-- image! -->
    <!-- backup image as a placeholder, will be replaced with something in .ts -->
    <div id="imgHolder">
      <img id="PlaceImage"/>
    </div>
    
    <!-- name of coffee shop -->
    <div id="name"></div>
    
    <!-- user interaction icons -->
    <div id="IconBar">
      <button id="directionsIconBtn" (click)="directionsClicked()">
        <img id='directionsIcon' src='../assets/directions.webp'>
        <span> Directions</span>
      </button>

      <button id="favoriteBtn" (click)="favoriteThis()" >
        <img id='favHeart' src='../assets/brown-heart.png'>
        <span> Favorites</span>
      </button>

    </div>
  
    <!-- address -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
      <img src='../assets/address.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="address"></div>
      </div>
    </div>  
  
    <!-- open now? -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/clock.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="openNow"></div>
      </div>
    </div>
  
    <!-- rating -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/rating.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <span id="rating"></span>
        <span> / 5</span>
        <span id="totalText1"> from </span>
        <span id="totalRatings"></span>
        <span id="totalText2"> reviews</span>
      </div>
    </div>
  
    <!-- price -->
    <div class="DetailChunk">
      <div class="sideBarIcon">
        <img src='../assets/dollar.png'>
      </div>
  
      <div class="PlaceDetails"> 
        <div id="priceLevel"></div>
      </div>
    </div>

    <div><button id="closeSidebarBtn" (click)="closeDetailPane()">x</button></div>
  
    <!--
    <div>
      <button id="directionsBtn" (click)="directionsClicked()">Show Directions</button>
      <button id="searchAreaBtn">Search this Area</button>
    </div>
    -->

    <div id="directionsHolder">
    <div id="drivingText">Driving</div>
    <div class="divholders">
      <div class="displayName" id="distanceText">Distance:</div>
      <div class="displayNum" id="distance">int</div>
    </div>
    <div class="divholders">
      <div class="displayName" id="durationText">Duration:</div>
      <div class="displayNum" id="duration">int</div>
    </div>
    

  </div>
  
    <div id="searchAreaHolder"> <div id="searchAreaText">Enter address (top right) in search bar</div> </div>
